@font-face {
    font-family: 'Inter';
    src: url("../font/inter/Inter-Regular.ttf");
    font-style: normal; 
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url("../font/inter/Inter-ExtraBold.ttf");
    font-style: normal; 
    font-weight: 800;
}
