html {
    scroll-behavior: smooth;
  }

body {
    height: 100%;
    background-color: #000F0F;
    font-family:'Inter';
}
// .btn1 {
//     &__link{ 
//         background-color: $btnColor;
//         color: white;
//         width: 158px;
//         height: 52px;
//         display: flex;
//         border-radius: 10px;
//         justify-content: center;
//         align-items: center;
//         text-decoration: none;
//     }
//     &__link--border{
//         background-color: none;
//         border: 1px solid $basicColor-01;
//         // color: $basicColor-02;

//     }
// }
.btn-link {
    background: none;
    border: 2px solid $basicColor-01;
    color: $basicColor-02;
    width: 158px;
    height: 52px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 13px;
    &--fill {
        background-color: $basicColor-02;
        color: $basicColor-03;
        border: none;
    }
    &--fillRred{
        background-color: $basicColor-02;
        color: $basicColor-03;
        border: none;
    }
    &--fillOrange{
        background-color: $basicColor-05;
        color: $basicColor-04;
        border: none;
    }
}
    


.btn2{
    color: $basicColor-03;
    font-size: 13px;
    font-weight: 800;
    width: 158px;
    height: 52px;
    border-radius: 10px;
    background: $basicColor-02;
    border: none;
    cursor: pointer;
}
.wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-height: 100%;
    &__pading{
        padding: 80px 0;
    }
}

.form {

}

.container {
    max-width: 1142px;
    
    padding: 0 16px;
    margin: 0 auto;
}


p {
    font-size: 20px;
}

.title-text {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:32px;
    margin-bottom: 40px;

    &__title{
        @include title(28);
        text-align: center;
    }

    &__subtitle{
        color: $basicColor-02;
        max-width: 600px;
        text-align: center;
        display: block;
    }

    &--left{
        text-align: left;
        padding: 0;
        align-items: flex-start;
    }

    &__title--left{
        text-align: left;
    }

    &__subtitle--left{
        text-align: left;
    }
}

@media (min-width:992px) {
    .title-text {
        &__title {
            @include title(48);
        }
    }
}
        