
body {
    height: 100%;
    background-color: rgb(82, 82, 82);
    font-family:'Inter';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.form {

}

.container {
    max-width: 1142px;
    padding: 0 16px;
}


p {
    font-size: 20px;
}

.title-text {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:32px;
    margin-bottom: 40px;

    &__title{
        color: $basicColor-02;
        text-align: center;
    }
    &__subtitle{
        color: $basicColor-02;
        max-width: 600px;
        text-align: center;
        display: block;
    }

    &--left{
        text-align: left;
        padding: 0;
        align-items: flex-start;
    }
    &__title--left{
        text-align: left;
    }
    &__subtitle--left{
        text-align: left;
    }
}
.wrapper__pading{
    padding: 80px 0;
    border: 1px solid;
}