@media (min-width:576px){

    /* hero*/
    .hero__title {
      font-size: 72px;
      line-height: 98px;
    }
  
    .hero {
      padding: 188px 0 160px;
    }
    .container {
      max-width: 576px;
    }


 

   
}  
  
@media (min-width:992px) {

/* nav */
.nav__toggler {
    display: none;
}

.mobNav {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}

.mobNav__list {
    display: flex;
    flex-direction: row;
}

.mobNav__item {
    padding: 0 10px;
}
.sectionCon {
    border: 1px solid;
    margin: 0 auto;
    display: flex;
}
.container {
    max-width: 1110px;
}

.card-row {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.buy-sell {
    &__row{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
        &__card2 {
            grid-row: 2/3;
        }
        &__card3{
            grid-row: 1/3;
        }

}
.pre-sale {
    
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:30px;
        
    } 
    &__item{

    }
}

.future {
    &__box{

    }
}
}