@import 'vars.scss';
@import 'fonts.scss';
@import 'reset.scss';
@import 'libs.scss';
@import 'global.scss';
@import 'media.scss';

.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &__con {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    &__logo {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        cursor: pointer;
    }

    &__iconMenu {
        fill: $basicColor-01;
    }

    &__logoImg {
        fill: $basicColor-01;
        margin-right: 8px;
    }

    &__logoText {
        font-family: 'Inter';
        font-weight: 800;
        color: $basicColor-01;
        font-size: 14px;


    }




}

.mobNav {
    flex-basis: 100%;
    flex-grow: 1;

    &__list {
        display: none;
        flex-direction: column;
        list-style: none;
        line-height: 40px;

        &--show {
            display: flex;
        }

    }

    &__link {
        text-decoration: none;
        font-size: 16px;
        line-height: 30px;
        color: $basicColor-01;
    }

    &__link:hover {
        color: $basicColor-05;
    }

    &__item {
        font-weight: 400;
    }

    &__item:first-child {
        margin-top: 8px;
    }
}



.hero {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    /* height: 640px; */
    color: $basicColor-04;
    background-color: rgb(99, 99, 99);
    padding: 172px 0 168px;
    background-position: 80%;

    &__con {
        margin: 0 auto;
        // max-width: 1110px;
    }

    &__title {
        margin: 0 0 24px;
        line-height: 40px;
        font-size: 28px;
        font-weight: 800;
    }

    &__p {
        margin: 0 0 48px;
        width: 316px;
        @include fontBasic();
        color: white;
    }
}

.table {
    border-collapse: collapse;

    &__con {}

    &__box {
        margin: 0 auto;
        max-width: 840px;
    }
}

.cc-table {
    border-collapse: collapse;
    width: 100%;

    &__tr {
        color: $basicColor-02;
    }

    &__td,
    &__th {
        border: 1px solid $basicColor-01;
        text-align: left;
        padding: 16px;
    }

    &__tr--select {
        color: $basicColor-05;
    }

    &__theader {
        color: $basicColor-02;
    }

    &__theader--select {
        background-color: $basicColor-01;
        color: $basicColor-03;
        cursor: pointer;
    }
}

//   .cc-table__td, .cc-table__th {
//     border: 1px solid red;
//     text-align: left;
//     padding: 8px;
//   }

.trust {
    &__box {
        margin: 0 auto;
    }
}

.buy-sell {
    &__card3 {
        // background-image: url(../img/img-02.png);
    }

    &__row {
        margin-top: 40px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
    }
}

.get-started {
    &__cards {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}




.card-row {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.card-box {
    border-radius: 20px;
    padding: 32px;
    padding-left: 32px;
    border: 2px solid $basicColor-01;
    display: flex;
    gap: 32px;

    &--img {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 256px;
    }

    &__p {
        @include fontBasic()
    }

    &__iconBox {
        fill: $iconFill;
    }

    &__title {
        margin-bottom: 16px;
        @include h5()
    }

    &--centr {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.pre-sale {
    padding: 60px 0;

    &__box {
        margin: 0 auto;
    }

    &__items {
        display: grid;
        margin-top: 40px;
        gap: 30px;
        grid-template-columns: 1fr;
    }

    &__item {
        border: 1px solid $basicColor-01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 14px;
    }

    &__title {
        @include h5();
        text-align: center;
        font-size: 19px;
    }

    &__text {
        @include basic_02();
    }
}

.future {

    &__box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 auto;
        align-items: center;
    }

    &__title {
        @include h6();
    }

    &__textBox {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__subtitle1 {
        @include fontBasic();
        font-weight: 800;
    }

    &__subtitle2 {
        @include fontBasic();
    }

    &__img {
        width: 332px;
    }
}



.token-sales {


    &__box {


        margin: 0 auto;
    }

    &__contant {
        padding: 32px;
        border: 2px solid $basicColor-01;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        border-radius: 20px;

    }

    &__title {
        @include h5();
        color: $basicColor-02;
    }

    &__subtitle {
        color: #002221;
        font-size: 12px;
        font-weight: 800;
    }

    &__items {
        display: flex;
        gap: 14px;
        line-height: 1;
    }

    &__btn {
        @include btn_01();

        &__link {
            border: 1px solid red;
            background-color: black;
        }
    }

    &__item {
        border-radius: 10px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $basicColor-02;
        color: $basicColor-03;
    }

    &__number {
        @include h6();
        color: #002221;
    }

    &__icons {
        display: flex;
        gap: 8px;
    }

}

.install-app {
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    &__box {}

    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__text {
        margin: 0;
        @include fontBasic();
    }

    &__btn {
        display: flex;
        gap: 16px;
    }

    &__list {}

    &__contant {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    &__imgBox {
        margin-top: 56px;

    }

    &__icon {
        fill: $basicColor-01;
    }
}

.meet-pro {

    &__cards {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // align-content: center;
        align-items: center;
        gap: 30px;
    }

    &__card {
        // margin: 24px auto;
        border: 2px solid $basicColor-01;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 20px;
        width: 350px;
        flex-grow: 1;
        flex-basis: 100px;
        flex-shrink: 1;
    }

    &__img {
        width: 100px;
        height: 100px;
    }

    &__cardText {
        text-align: center;
    }

    &__cardTitle {
        @include h3()
    }

    &__cardSubtitle {
        @include fontBasic()
    }
}

.news {
    &__titleText {
        margin-bottom: 40px;
    }

    &__img {
        display: block;
        width: 100%;
        height: 160px;
        border: 1px solid;
    }

    &__icon {
        fill: $basicColor-01;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        border: 2px solid $basicColor-01;
        border-radius: 20px;
        overflow: hidden;
        padding: 32px 0;
        width: 350px;
        height: 440px;
    }

    &__textBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 24px;
        width: 250px;
    }

    &__text1 {
        @include fontBasic();
        font-weight: 800;
        display: block;

    }

    &__text2 {
        @include fontBasic();
        font-weight: 800;
        display: block;
    }

    &__text3 {
        @include h3();
        font-weight: 800;
        display: block;
        text-align: center;
    }

    &__btn {}
}

.subscribe {
    &__box {}

    &__con {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
        width: 100%;
        margin-top: 16px;



    }

    &__input {
        border: 2px solid $basicColor-01;
        border-radius: 16px;
        width: 100%;
        padding: 16px;
        background: none;
        color: $basicColor-01;
    }

    &__btn {
        width: 100%;
    }

}

.partners {
    &__box {}

    &__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    &__logo {
        height: 56px;
        display: flex;

    }
}

.questions {
    &__imgBox {
        height: 324px;
        border: 1px solid;
        display: flex;
        justify-content: center;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__img {
        height: 100%;
        display: block;
        margin-right: 20px;
    }

    &__con {
        display: flex;
        flex-direction: column;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    &__item {
        // border: 1px solid $basicColor-01;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $basicColor-01;
        cursor: pointer;
        border-radius: 20px;
    }

    &__header--border {
        border-radius: 20px 20px 0 0;
    }

    &__content {
        padding: 1px solid;
        padding: 16px;
        display: none;

        &--show {
            display: block;
        }

        border: 1px solid $basicColor-01;
        border-top: none;
        border-radius: 0 0 20px 20px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        @include fontBasic();
        font-weight: 800;
    }

    &__p {
        @include fontBasic();
    }

}

.message {
    &__box {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__btn {
        width: 100%;
    }

    &__card-box {
        margin-top: 160px;
        display: grid;
        gap: 16px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__input {
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid $basicColor-01;
        background: none;
        color: rgb(0, 221, 255, 0.7);
    }

    &__textarea {
        width: 100%;
        padding: 8px;
        border-radius: 10px;

    }
}

.contact {

    &__box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__mapBox {
        border: 1px solid;
        height: 300px;
        overflow: hidden;
    }

    &__map {
        width: 100%;
        height: 500px;
    }

}

.footer {
    height: 240px;

    &__row {
        border: 1px solid;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__links {
        list-style: outside none none;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

    }

    &__link {
        text-decoration: none;
        color: $basicColor-01;
        max-width: 515px;
        @include fontBasic();

        &:hover {
            color: $basicColor-05;
        }

    }

    &__copy {}


    &__copyText {
        @include fontBasic();
    }


    &__icons {

        justify-content: center;
        align-items: center;
        display: flex;
        gap: 16px;
    }

    &__icon {
        fill: $basicColor-01;
    }

    &__con {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

}

// Animation---------------------------------------
.elem-animation {}

.elem-show {
    opacity: 1;
    transform: translateY(0%);
    transition: all 1s;
}

.elem-hide {
    transform: translateY(20%);
    opacity: 0;
}

// @media----------------------------------------------


@media (min-width:576px) {

    /* hero*/
    .hero__title {
        font-size: 72px;
        line-height: 98px;
    }

    .hero {
        padding: 188px 0 160px;
    }

    .container {
        max-width: 576px;
    }





}

@media (min-width:992px) {

    /* nav */
    .nav {
        &__menu {
            display: none;
        }
    }

    .mobNav {
        display: flex;
        flex-basis: auto;
        justify-content: flex-end;

        &__item:first-child {
            margin: 0;

        }
    }

    .mobNav__list {
        display: flex;
        flex-direction: row;
    }

    .mobNav__item {
        padding: 0 10px;
    }




    .sectionCon {
        border: 1px solid;
        margin: 0 auto;
        display: flex;
    }

    .container {
        max-width: 1110px;
    }

    .card-row {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .buy-sell {
        &__row {
            display: grid;
            gap: 40px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        &__card2 {
            grid-row: 2/3;
        }

        &__card3 {
            grid-row: 1/3;

        }
    }

    .get-started {
        &__cards {

            flex-direction: row;
        }
    }

    .future {

        &__box {
            flex-direction: row;
        }

        &__title {
            font-size: 48px;
            line-height: 64px;
        }
    }

    .token-sales {
        &__items {
            width: 80%;
        }

        &__item {
            width: 100%;
        }
    }

    .install-app {
        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__imgBox {
            flex-grow: 2;
        }

        &__img {
            width: 100%;
        }

        &__contant {
            flex-grow: 1;
        }
    }

    .card-box {
        &__img {
            width: auto;
            height: auto;
        }

    }

    .pre-sale {

        &__items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;

        }

        &__item {}
    }

    .meet-pro {
        &__cards {
            flex-direction: row;

        }
    }

    .news {
        &__cards {
            flex-direction: row;
        }
    }

    .partners {
        &__logos {
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }

    .questions {
        &__accordion {}

        &__imgBox {}

        &__accordion {
            width: 638px;
        }

        &__con {
            flex-direction: row;
            justify-content: space-around;
            gap: 90px;
        }
    }

    .subscribe {
        &__form {
            flex-direction: row;
            width: 654px;

        }

        &__input {}

        &__btn {

            flex-shrink: 2;
        }
    }

    .message {
        &__text {
            grid-column: 1/3;
            align-items: center;
        }

        &__card-box {
            margin-top: 0;

        }

        &__box {
            grid-template-columns: 1fr 350px;
            gap: 32px;
        }

        &__form {
            gap: 28px;
        }
    }

    .title-text {
        &__subtitle {
            &--left {
                text-align: center;
            }
        }
    }
}