@import 'vars.scss';
@import 'fonts.scss';
@import 'reset.scss';
@import 'libs.scss';
@import 'global.scss';
@import 'media.scss';

//basic color
.btn1 {
    &__link{ 
        background-color: $btnColor;
        color: white;
        width: 158px;
        height: 52px;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    &__link--border{
        background-color: none;
        border: 1px solid $basicColor-01;
        color: $basicColor-02;

    }
}
.btn-one{

}


.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    position: fixed;
    top:0;
    width: 100%;
    &__con {
        
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    &__logo{
        display: flex;
        align-items: center;
        color: white;
        & img{
            margin-right: 8px;
        }
    }
    &__menu {
        display: block;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: rgb(187, 187, 187);
    }
    
}

.mobNav {
    flex-basis: 100%;
    flex-grow: 1;
    &__list {
    display: none;
    flex-direction: column;
    list-style: none;
    line-height: 32px;
        &--hide{
            display:flex;
        }
    }
    &__link {
        text-decoration: none;
        color: $navTextColor; 
    }
}

.hero {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    /* height: 640px; */
    color: $heroTextColor;
    background-color: rgb(99, 99, 99);
    padding: 172px 0 168px;
    background-position: 80%;
    &__con {
        margin: 0 auto;
        // max-width: 1110px;
    }
    &__title{
        margin: 0 0 24px;
        line-height: 40px;
        font-size: 28px;
        font-weight: 800;
    }
    &__p{
        margin: 0 0 48px;
        width: 316px;
        @include fontBasic();
        color: white;
    }
}

.trust {
    &__box{
        margin: 0 auto;
    } 
}  

.buy-sell {
    &__box {
        margin: 0 auto;
    }
    &__card3 {
        // background-image: url(../img/img-02.png);
    }
    &__row {
        margin-top: 40px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
    }
}
        
.get-started {
    &__cards{
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
}




.card-row {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.card-box {
    border-radius: 20px;
    padding: 32px;
    padding-left: 32px;
    border: 2px solid $basicColor-01;
    display: flex;
    gap: 32px;
    &--img{
        border: none;
    }
    &__img{
        width: 100%;
    }
    &__p{
        @include fontBasic()
    }
    &__iconBox {
        fill: $iconFill;
    }
    &__title {
        margin-bottom: 16px;
        @include h5()
    }
    &--centr{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.pre-sale {
    background-color: #202020;
    padding: 60px 0;
    &__box{
        margin: 0 auto;
    }
    &__items{
        display: grid;
        margin-top: 40px;
        gap:30px;
        grid-template-columns: 1fr;
    }
        
    &__item{
        border: 1px solid $basicColor-01;
        text-align: center;
        padding: 16px;
        border-radius: 14px;
    }
        
    &__title{
        @include h5();
    }
    &__text{
        @include basic_02();
    }    
}

.future {
    
    &__box{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 auto;
        // justify-content: center;
        // align-content: center;
        align-items: center;
    }
    &__title{
        @include h6();
    }
    &__textBox{
        display: flex;
        flex-direction: column;
        gap:30px;
        // align-items: center;
    }
    &__subtitle{
        @include fontBasic();
    }
    &__img{

        width: 332px;
    }
        
}

.token-sales {
    
    
    &__box{
        
        
        margin: 0 auto;
    }
    &__contant{
        padding: 32px;
        border: 2px solid $basicColor-01;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        border-radius: 20px; 

    }
    &__title{
        @include h5();
        color:$basicColor-02;
    }

    &__subtitle{
        color: #002221;
        font-size: 12px;
        font-weight: 800;
    }
    &__items{
        display: flex;
        gap:14px;
    }
    &__btn{
        @include btn_01();
        &__link {
            border: 1px solid red;
            background-color: black;
        }
    }
    &__item{
        border-radius: 10px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $basicColor-02;
        color: $basicColor-03;
    }
    &__number {
        @include h6();
        color: #002221;
    }
    &__icons {
        display: flex;
        gap: 8px;
    } 
        
}
    
.install-app{
    &__list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    &__box{

    }
    &__item{
        display: flex;
        align-items: center;
        gap:8px;
    }
    &__text{
        margin: 0;
       @include fontBasic();
    }
    &__btn{
        display: flex;
        gap: 16px;
    }
    &__list {

    }
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    &__imgBox{
        margin-top: 56px;
    
    }
    &__icon{
        fill: $basicColor-01;
    }
}
.meet-pro {
    &__box{
        margin: 0 auto;
    }

    &__cards{

    }
    &__card{
        margin: 24px 0;
        border: 2px solid $basicColor-01;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:16px;
        border-radius: 20px;
    }
    &__img{
        width: 100px;
        height: 100px;
    }
    &__cardText{
        text-align: center;
    }
    &__cardTitle{
        @include h3()
    }
    &__cardSubtitle{
        @include fontBasic()
    }
}

.news {
    &__img{
        display: block;
        width: 100%;
        height: 160px;
        border: 1px solid;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        gap:40px;
        
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:32px;
        border: 2px solid $basicColor-01;
        border-radius: 20px;
        overflow: hidden;
        padding-bottom: 32px;
    }
    &__textBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    &__text1{
        display: block;
    }
    &__text2{
        display: block;
    }
    &__text3{
        display: block;
        text-align: center;
    }    
    &__btn{

    }    
}

.subscribe {
    &__box{

    }
    &__con{

    }
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:24px;
        max-width: 1100px;
        margin-top: 16px;
    }
    &__input{
        border: none;
        border-radius: 10px;
        width: 224px;
        padding: 16px;
       
    }

}

.partners{
    &__box{

    }
    &__logos{
        display: flex;
        flex-direction: column;
        gap:80px;
    }
    &__logo{
        height: 56px;
        border: 1px solid;
    }
}
.questions{
    &__img{
        height: 300px;
        border: 1px solid;
    }
    &__text{
        margin-bottom: 40px;
    }

}
.accordion{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 40px;
    &__item{
        // border: 1px solid $basicColor-01;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $basicColor-01;
        cursor: pointer;
    }
    &__content{
        padding: 1px solid;
        padding: 16px;
        display: none;
        &--show{
            display: block;
        }
        border: 1px solid $basicColor-01;
        border-top: none;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        cursor: pointer;

    }
  
}
.message{
    &__text{
        margin-bottom: 40px;
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap:16px;

    &__input{
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid $basicColor-01;
        background: none;
        color: rgb(0, 221, 255, 0.7);
    }
    &__textarea{
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        
    }
}

.contact {
    
    &__box{
        display: flex;
        flex-direction: column;
        gap:16px;
    }
    &__mapBox{
        border: 1px solid;
        height: 300px;
    }
}

.footer {
    height: 240px;
    background-color: rgb(61, 61, 61);
    &__row{
        border: 1px solid;
        list-style: none;
        text-align: center;
    }

    &__links{
        list-style: outside none none;
        display: flex;
        gap:8px;
        justify-content: center;

    }
    &__link{
        text-decoration: none;
        color: $basicColor-01;
        @include fontBasic();
      
    }
        
    &__copy{
        p{
            @include fontBasic();
        }
        
    }
    &__icons{

        justify-content: center;
        align-items: center;
        border: 2px solid;
        display: flex;
        gap:16px;
    }
    &__icon{
        fill: $basicColor-01;
    }    
    &__con{
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
 
}    







